# Force mutli files loading for Compose
COMPOSE_FILE="docker-compose.yml:docker-compose.override.yml"

# Traefik: https://registry.hub.docker.com/_/traefik
#TRAEFIK_IMAGE="traefik:2.10.7"
# Redis: https://registry.hub.docker.com/_/redis
REDIS_IMAGE="redis:7.4.1-alpine"
# Postgis: https://registry.hub.docker.com/r/postgis/postgis
POSTGRES_IMAGE="postgis/postgis:17-3.5"

BASE_PROTOCOL="https"  # do not change to http, unless you know how to fix traefik labels

# HTTP ports env viariables not used because we don't use Traefik inside GeoNature Docker Compose file.
HTTP_PORT=80
HTTPS_PORT=443
# Email required for valid https certificates
# TODO: replace by a Gentiana admin email !
ACME_EMAIL="<adminsys@example.com>"

HOST="gentiana.org"
# Set HOSTPORT to ${HOST}:${HTTPS_PORT} if HTTPS_PORT is different from 443
HOSTPORT="${HOST}"

UID=1000 # Change with the value returned by the command `id -u`
GID=1000 # Change with the value returned by the command `id -g`

# Comment this line to disable supergrant
# Start with this:
#GEONATURE_SUPERGRANT_ARGS="--group --nom Grp_admin"
# After Gentiana data integration, use this:
GEONATURE_SUPERGRANT_ARGS="--group --nom Administrateurs"

# This SRID will be used with the geom_local field of the synthese table.
# Must be correctly set on first run.
GEONATURE_DB_LOCAL_SRID=2154
GEONATURE_DB_ADD_SAMPLE_DATA=false
GEONATURE_DB_INSTALL_BDC_STATUTS=true
GEONATURE_DB_INSTALL_SIG_LAYERS=true
GEONATURE_DB_INSTALL_GRID_LAYER=true
GEONATURE_DB_INSTALL_REF_SENSITIVITY=true
GEONATURE_DB_INSTALL_USERSHUB_SAMPLES=true
GEONATURE_DB_INSTALL_TAXHUB_SAMPLES=true

POSTGRES_USER="geonatadmin"
POSTGRES_PASSWORD=''
POSTGRES_HOST="geonature-postgres"
POSTGRES_DB="geonature2db"

USERSHUB_IMAGE="ghcr.io/pnx-si/usershub:2.4.3"
USERSHUB_PROTOCOL="${BASE_PROTOCOL}"
USERSHUB_HOST="usershub.${HOST}"
USERSHUB_HOSTPORT="usershub.${HOSTPORT}"
USERSHUB_PREFIX="/"

TAXHUB_IMAGE="ghcr.io/pnx-si/taxhub:1.14.2"
TAXHUB_PROTOCOL="${BASE_PROTOCOL}"
TAXHUB_HOST="taxhub.${HOST}"
TAXHUB_HOSTPORT="taxhub.${HOSTPORT}"
TAXHUB_PREFIX="/"
TAXHUB_API_PREFIX="${TAXHUB_PREFIX}api"

GEONATURE_BACKEND_EXTRA_IMAGE="ghcr.io/pnx-si/geonature-backend-extra:2.14.2"
GEONATURE_BACKEND_PROTOCOL="${BASE_PROTOCOL}"
GEONATURE_BACKEND_HOST="geonature.${HOST}"
GEONATURE_BACKEND_HOSTPORT="geonature.${HOSTPORT}"
GEONATURE_BACKEND_PREFIX="/api"

GEONATURE_FRONTEND_EXTRA_IMAGE="ghcr.io/pnx-si/geonature-frontend-extra:2.14.2"
GEONATURE_FRONTEND_PROTOCOL="${BASE_PROTOCOL}"
GEONATURE_FRONTEND_HOST="geonature.${HOST}"
GEONATURE_FRONTEND_HOSTPORT="geonature.${HOSTPORT}"
GEONATURE_FRONTEND_PREFIX="/"

# Gentiana env
POSTGRES_HOST_PORT="5432"
GENTIANA_DATA_PATH="/home/dockerweb/gentiana-data"